<!doctype html>
<html lang="en">

<head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet" />
    <!-- AngularJs 1.7.9-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <!-- Jquery 3.5.1 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <!-- Database -->
    <script src="js/subjects.js" type="module"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

</head>

<body ng-app="myapp">
    <div ng-controller="myctrl" class="col-8 m-auto py-3">
        <div class="card">
            <div class="card-header bg-warning">
                <i class="fas fa-list me-2"></i> FORM SUBJECTS
            </div>
            <div class="card-body">
                <div class="form-outline mb-4">
                    <input ng-model="subject.id" type="text" class="form-control" />
                    <label class="form-label">Subject ID</label>
                </div>

                <div class="form-outline mb-4">
                    <input ng-model="subject.name" type="text" class="form-control" />
                    <label class="form-label">Name</label>
                </div>

                <div class="form-outline mb-4">
                    <input ng-model="subject.logo" type="text" class="form-control" />
                    <label class="form-label">Logo</label>
                </div>
                <button class="btn btn-primary" ng-click="findAll()">SELECT </button>
                <button class="btn btn-secondary" ng-click="insert()" ng-show="index==-1"
                    ng-disabled="index != -1">INSERT </button>
                <button class="btn btn-success" ng-click="update()" ng-disabled="index == -1">UPDATE</button>
                <button class="btn btn-danger" ng-click="delete()" ng-disabled="index == -1">DELETE</button>
                <button class="btn btn-warning" ng-click="cancel()">RESET</button>
                <button class="btn btn-info" ng-click="reset()">NEW</button>
            </div>
            <div class="card-footer text-muted">Firebase - Realtime Database</div>
        </div>
        <br>
        <table class="table table-bordered border-primar">
            <thead>
                <tr class="bg-warning">
                    <th scope="col">Row</th>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Logo</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in subjects">
                    <td>{{item.$id}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.logo}}</td>
                    <td><button class="btn" ng-click="edit($index, u.$id)">Sửa</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>

</body>
<script>



</script>

</html>