<div class="container my-4" ng-if="sumup === false">
    <div class="bg-dark text-light py-5">
        <div class="row justify-content-between p-2">
            <div class="col-4">
                <small class="m-1">Time : {{time}}</small>

            </div>
            <div class="col-4">
                <small>Question {{currentQuestion}} : {{getQuestion().Marks}} Marks</small>
            </div>
        </div>
        <div class="row bg-info rounded p-5 m-3">
            <div class="text-center fs-2">{{getQuestion().Text}}</div>
            <div class="py-1">
                <div class="form-check" ng-repeat="item in getQuestion().Answers">
                    <input ng-model="answer.choise" class="form-check-input" type="radio" name="answer" value="{{item.Id}}"/>
                    <label class="form-check-label">  {{item.Text}} </label>
                </div>


                <button ng-hide="currentQuestion == 0"
                        ng-click="setQuestionIndex(currentQuestion-1)">
                    Previous
                </button>

                <button ng-hide="currentQuestion == questions.length - 1"
                        ng-click="setQuestionIndex(currentQuestion+1)">
                    Next
                </button>

                <button ng-click="submitQuiz()">
                    Submit
                </button>

                <button ng-click="getQuestion()">
                    check
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="sumup === true" ng-include="'sumup.html'">

</div>